body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
  }

  body {
    overflow-y: scroll;
  }

  .container {
    position: relative;
    width: 100%;
    height: 300vh; /* Make the page taller for scrolling */
  }
  
  .pinboard {
    position: relative;
    width: 100%;
    height: 350vh;
    background-color: #e0e0e0;
    z-index: 1;
  }
  
  .newspaper {
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 2;
    transition: transform 1s ease-in-out;
    background-color: #ffffff;
    border: 10px solid #b0b0b0; /* Soft border, like a photo border */
    background: url('./assets/denim.png') repeat; /* Add a subtle noise pattern */
  }

  
  .newspaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    background-color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000000;
  }

  .thread {
    position: absolute;
    z-index: 3; 
  }
  
  /* Newspaper positions will be set by inline styles (top, left) */
  